// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;

  @media (min-width: @screen-xl) {
    right: 0;
    left: 0;
  }

  &__wrapper {

    @media (max-width: (@screen-xl - 1)) {
      display: none;
      overflow-y: auto;

      .main-nav--open & {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
      }

    }

    @media (min-width: @screen-xl) {
      position: absolute;
      top: 27px;
      right: auto;
      left: 50%;
      width: 887px;
      transform: translateX(-50%);
    }

    @media (min-width: @screen-xxl) {
      width: 1192px;
    }
  }

  &__inner {

    @media (max-width: (@screen-xl - 1)) {
      padding-top: 40px;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {

    @media (max-width: (@screen-xl - 1)) {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }

    @media (min-width: @screen-xl) {

      .main-nav--home & {
        display: none;
      }
    }

  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: (@screen-xl - 1)) {
      padding: 0 10px;
      text-align: center;
      font-size: 25px;
      line-height: 120%;
    }

    @media (min-width: @screen-xl) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {

    @media (max-width: (@screen-xl - 1)) {
      margin-bottom: 20px;
    }

    @media (min-width: @screen-xl) {
      position: relative;
      width: 25%;
      // backface-visibility: hidden;
      transform: translateY(e('calc(-3.7vh - 100%)'));

      &:hover {
        z-index: 1;
      }

      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {

        .loaded & {
          animation: translate-none 0.2s 0s forwards;
        }
      }

      &:nth-child(3) {

        .loaded & {
          animation: translate-none 0.2s 0.2s forwards;
        }
      }

      &:nth-child(4) {

        .loaded & {
          animation: translate-none 0.2s 0.4s forwards;
        }
      }

      &:nth-child(5) {

        .loaded & {
          animation: translate-none 0.2s 0.6s forwards;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: @gray-light;
    text-transform: uppercase;
    transition: all 0.2s;

    @media (max-width: (@screen-xl - 1)) {

      &:hover,
      &:focus {
        text-decoration: none;
        color: @gray-light;
      }
    }

    @media (min-width: @screen-xl) {
      padding: 5px 5px 8px 0;

      &:before {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        height: 1px;
        width: e('calc(100% + 20px)');
        background-color: @color-second;
        transform: scale3d(0, 1, 1);
        transform-origin: center left;
        transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: #fff;

        &:before {
          transform: scale3d(1, 1, 1);
        }
      }

      .main-nav__item-inner:hover & {
        text-decoration: none;
        color: #fff;

        &:before {
          transform: scale3d(1, 1, 1);
        }
      }
    }

    .main-nav__item--active & {

      @media (max-width: (@screen-xl - 1)) {

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 2px;
          height: 1px;
          width: e('calc(100% + 20px)');
          background-color: @color-second;
        }
      }

    }
  }

  &__sublist {
    display: none;

    @media (min-width: @screen-xl){
      display: block;
      visibility: hidden;
      height: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
      min-width: 280px;
      list-style: none;
      background-color: #fff;
      transition: opacity 0.2s;

      .main-nav__item-inner:hover & {
        visibility: visible;
        height: auto;
        padding: 20px 10px 20px 30px;
        opacity: 1;
      }
    }
  }

  &__sublist-item {
    line-height: 1.2;
  }

  &__sublist-link {
    display: block;
    position: relative;
    padding: 4px 0 4px 10px;
    color: @gray-darkest;
    text-decoration: none;
    transition: all 0.2s;

    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      top: 50%;
      left: -50px;
      background-color: @color-second;
      transform: scale3d(0, 1, 1);
      transform-origin: center left;
      transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:hover,
    &:focus {
      color: @gray-darkest;
      text-decoration: none;
      padding-left: 0;

      &:before {
        transform: scale3d(1, 1, 1);
      }
    }
  }

  &__burger {
    position: absolute;
    right: 9px;
    top: 5px;
    display: block;
    padding-right: 50px;
    cursor: pointer;

    @media (min-width: @screen-xl) {
      display: none;
    }

    &:before {
      content: attr(data-text);
      width: 20px;
      height: 20px;
      font-size: 20px;
      font-weight: 300;
      color: @gray-light;
      line-height: 1;
    }
  }

  &__burger-icon {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 2px;
    background-color: @color-second;

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 40px;
      height: 2px;
      background-color: @color-second;
    }

    &:before {
      top: 8px;
    }

    &:after {
      top: 16px;
    }
  }

  &__close-icon {
    position: fixed;
    top: 6px;
    right: 6px;
    width: 33px;
    height: 33px;
    cursor: pointer;

    @media (min-width: @screen-xl) {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 33px;
      height: 2px;
      background-color: @color-second;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

}
