// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;

  @media (min-width: @screen-xl) {
    right: 0;
    left: 0;
  }

  &__wrapper {

    @media (max-width: (@screen-xl - 1)) {
      display: none;
      overflow-y: auto;

      .main-nav--open & {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
      }

    }

    @media (min-width: @screen-xl) {
      position: absolute;
      top: 3.7vh;
      right: auto;
      left: 50%;
      width: 887px;
      transform: translateX(-50%);
    }
  }

  &__inner {

    @media (max-width: (@screen-xl - 1)) {
      padding-top: 40px;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {

    @media (max-width: (@screen-xl - 1)) {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }

    @media (min-width: @screen-xl) {

      .main-nav--home & {
        display: none;
      }
    }

  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: (@screen-xl - 1)) {
      padding: 0 10px;
      text-align: center;
      font-size: 25px;
      line-height: 120%;
    }

    @media (min-width: @screen-xl) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {

    @media (max-width: (@screen-xl - 1)) {
      margin-bottom: 20px;
    }

    @media (min-width: @screen-xl) {
      width: 25%;
      // backface-visibility: hidden;
      transform: translateY(-100%);

      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {

        .fp-enabled & {
          animation: translate-none 0.2s 0s forwards;
        }
      }

      &:nth-child(3) {

        .fp-enabled & {
          animation: translate-none 0.2s 0.2s forwards;
        }
      }

      &:nth-child(4) {

        .fp-enabled & {
          animation: translate-none 0.2s 0.4s forwards;
        }
      }

      &:nth-child(5) {

        .fp-enabled & {
          animation: translate-none 0.2s 0.6s forwards;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: @gray-light;
    text-transform: uppercase;

    @media (max-width: (@screen-xl - 1)) {

      &:hover,
      &:focus {
        text-decoration: none;
        color: @gray-light;
      }
    }

    @media (min-width: @screen-xl) {
      padding: 5px 5px 5px 0;

      &:hover,
      &:focus {
        text-decoration: none;
        color: #fff;
      }
    }

    .main-nav__item--active & {

      @media (max-width: (@screen-xl - 1)) {

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 2px;
          height: 1px;
          width: e('calc(100% + 20px)');
          background-color: @color-second;
        }
      }
    }
  }

  &__sublist {

    @media (max-width: (@screen-xl - 1)) {
      display: none;
    }
  }

  &__sublist-item {

  }

  &__sublist-link {

  }

  &__burger {
    position: absolute;
    right: 9px;
    top: 5px;
    display: block;
    padding-right: 50px;
    cursor: pointer;

    @media (min-width: @screen-xl) {
      display: none;
    }

    &:before {
      content: attr(data-text);
      width: 20px;
      height: 20px;
      font-size: 20px;
      font-weight: 300;
      color: @gray-light;
      line-height: 1;
    }
  }

  &__burger-icon {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 2px;
    background-color: @color-second;

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 40px;
      height: 2px;
      background-color: @color-second;
    }

    &:before {
      top: 8px;
    }

    &:after {
      top: 16px;
    }
  }

  &__close-icon {
    position: fixed;
    top: 6px;
    right: 6px;
    width: 33px;
    height: 33px;
    cursor: pointer;

    @media (min-width: @screen-xl) {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 33px;
      height: 2px;
      background-color: @color-second;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

}
