// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {
  position: absolute;
  z-index: @z-index-menu;
  top: 0;
  right: 0;

  &__wrapper {
    display: none;
  }

  &__logo {

  }

  &__list {

  }

  &__item {

  }

  &__link {

  }

  &__sublist {

  }

  &__sublist-item {

  }

  &__sublist-link {

  }

  &__burger-icon {
    display: block;

    &:before {
      content: attr(data-text);
      width: 20px;
      height: 20px;
      background-color: #ff0;
    }
  }

  &__close-icon {

  }

}
