// Для импорта в диспетчер подключений: @import './src/blocks/page-404/page-404.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-404 {

  .full-page__section-logo {
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: @screen-xl) {
      display: block;
      top: 25px;
      left: 0;
      width: 128px;
      height: 56px;
      text-align: right;

      .js & {
        transform: translateX(-100%);
      }

      .js-loaded & {
        animation: translate-none 0.3s 0.8s forwards;
      }

      svg {
        width: 98px;
        height: 48px;
      }
    }

    @media (min-width: @screen-xxl) {
      top: 40px;
      width: 190px;
      height: 70px;

      svg {
        width: 122px;
        height: 61px;
      }
    }
  }

  &__inner {
    color: @gray-lighter;
    position: relative;

    @media (max-width: (@screen-xl - 1)) {
      padding: 20px;
      text-align: center;
      margin: auto;
    }

    @media (min-width: @screen-xl) {
      width: 887px;
      margin: auto;
      opacity: 0;
      min-height: 280px;

      .js-loaded & {
        animation: opacity-none 0.3s 1s forwards;
      }
    }

    @media (min-width: @screen-xxl) {
      width: 1192px;
    }
  }

  &__text {
    font-size: 18px;

    @media (min-width: @screen-xl) {
      max-width: 400px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  &__name {

    @media (min-width: @screen-xl) {
      margin: 0;
      padding: 0;
      font-weight: 700;
      line-height: 1;
      opacity: 0.2;
    }
  }

  &__4-1 {

    @media (min-width: @screen-xl) {
      font-size: 360px;
      position: absolute;
      top: -25px;
      right: 50%;
      width: 160px;
      overflow: hidden;
      color: @color-main--lightest;
    }
  }

  &__0 {

    @media (min-width: @screen-xl) {
      font-size: 360px;
      position: absolute;
      top: -25px;
      right: 25%;
      width: 160px;
      overflow: hidden;
      color: @color-main--lightest;
    }
  }

  &__4-2 {

    @media (min-width: @screen-xl) {
      font-size: 360px;
      position: absolute;
      top: -25px;
      right: 0;
      width: 160px;
      overflow: hidden;
      color: @color-main--lightest;
    }
  }
}
