build/*
!build/readme.md
design/
src/blocks/sprite-svg--localstorage/img/*.svg
src/fonts/**/*.css
src/fonts/**/*.eot
src/fonts/**/*.svg

.Saved/
_arc/
bower_components/
node_modules/
.vscode/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
!build.zip
.idea
TEMP*
old*
.publish
ex_files
Thumbs.db
