// Для импорта в диспетчер подключений: @import './src/blocks/btn/btn.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 18px;
  font-family: @font-family--cond;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  height: 44px;
  min-width: 220px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  background-image: none;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
  }

  &:active,
  &:focus {
    text-decoration: none;
    box-shadow: none;
    color: #fff;
    background-color: transparent;
    animation: border-flash 1s infinite alternate;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: @opacity;
    color: #fff;
    background-color: transparent;

    a& {
      pointer-events: none;
    }
  }



  &--red-arrow-border {
    border: 0;
    border-left: 1px solid @color-second;
    overflow: hidden;
    background-image: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/btn/bg/btn-border.svg');
    background-repeat: no-repeat;
    background-position: center right;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/btn/bg/btn-fill.svg');
      background-repeat: no-repeat;
      background-position: center right;
      transform: translateX(-100%);
      transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:hover,
    &:focus {
      border-color: @color-second;

      &:before {
        transform: translateX(0);
      }
    }
  }

  // &--red-arrow-fill-white {
  //   background-image: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/btn/bg/btn-border--bg-white.svg');
  // }

  &--main {
    border-color: @color-main;
    color: @color-main;

    &:hover,
    &:focus {
      color: @color-main;
    }
  }

  &--bg-dark-blue {
    border-color: @color-main;
    background-color: @color-main;

    &:hover,
    &:focus {
      border-color: @color-main;
      background-color: @color-main;
      color: #fff;
    }
  }
}
