// Для импорта в диспетчер подключений: @import './src/blocks/page-web-dev/page-web-dev.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-web-dev {

  .fp-tableCell {
    overflow: hidden;
  }

  &__article {
    position: relative;

    @media (min-width: @screen-xl) {
      display: flex;
    }

    &--stages {

      @media (min-width: @screen-xl) {

        .page-web-dev__article-title {
          position: absolute;
          top: 0;
          left: 221px;
        }

        .collapsing-list__name-icon {
          position: fixed;
          top: 0;
          right: 0;
        }
      }
    }
  }

  &__article-title {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 8px;
    font-weight: 300;
    text-align: center;

    @media (min-width: @screen-xl) {
      width: 221px;
      min-width: 221px;
      margin-top: 7px;
    }

    @media (min-width: @screen-xxl) {
      width: 300px;
      min-width: 300px;
      font-size: 45px;
      margin-top: 31px;
    }
  }

  &__collapsing-list {

    @media (min-width: @screen-xl) {
      width: 221px;
      min-width: 221px;
    }

    @media (min-width: @screen-xxl) {
      width: 299px;
      min-width: 299px;
    }
  }

  &__item-descr {
    margin-bottom: 35px;

    & > *:first-child {
      margin-top: 0;
    }

    @media (min-width: @screen-xxl) {
      width: 1070px;
      font-size: 18px;
      margin-top: 15px;
      min-height: 150px;
    }
  }

  &__collapsing-list {}
}
