// Для импорта в диспетчер подключений: @import './src/blocks/page-web-dev/page-web-dev.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-web-dev {

  .fp-tableCell {
    overflow: hidden;
  }

  &__article {
    position: relative;

    @media (min-width: @screen-xl) {
      display: flex;
    }

    &--stages {

      @media (min-width: @screen-xl) {

        .page-web-dev__article-title {
          position: absolute;
          top: -70px;
          left: 221px;
          width: 790px;
          padding-left: 70px;
          text-align: left;
          white-space: nowrap;
          height: 42px;
          overflow: hidden;
        }
      }

      @media (min-width: @screen-xxl) {

        .page-web-dev__article-title {
          top: -21.29vh;
          left: 299px;
          width: 896px;
          padding-left: 112px;
          height: 63px;
        }
      }
    }
  }

  &__article-cta-btn {

    @media (max-width: (@screen-xl - 1)) {
      display: none;
    }
  }

  &__article-title {
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 8px;
    font-weight: 300;
    text-align: left;

    @media (min-width: @screen-xl) {
      width: 221px;
      min-width: 221px;
      margin-top: 7px;
    }

    @media (min-width: @screen-xxl) {
      width: 300px;
      min-width: 300px;
      font-size: 36px;
      margin-top: 31px;
    }
  }

  &__collapsing-list {

    @media (min-width: @screen-xl) {
      width: 221px;
      min-width: 221px;
    }

    @media (min-width: @screen-xxl) {
      width: 299px;
      min-width: 299px;
    }
  }

  &__item-descr {
    margin-bottom: 35px;

    & > *:first-child {
      margin-top: 0;
    }

    @media (min-width: @screen-xxl) {
      width: 1070px;
      font-size: 18px;
      margin-top: 15px;
      min-height: 150px;
    }
  }

  &__collapsing-list {}
}
