// Для импорта в диспетчер подключений: @import './src/blocks/article/article.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.article {
  position: relative;

  @media (max-width: (@screen-xl - 1)) {
    margin-bottom: 85px;
  }

  @media (min-width: @screen-xl) {
    width: 850px;
    min-height: 275px;

    .full-page__section-inner & + & {
      margin-top: 20px;
    }
  }

  @media (min-width: @screen-xxl) {
    width: 1118px;
    min-height: 335px;

    .full-page__section-inner & + & {
      margin-top: 100px;
    }
  }

  &__link-wrapper {
    position: relative;
    z-index: 3;
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__header {
    position: relative;

    @media (max-width: (@screen-xl - 1)) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 220px;

      &:before,
      &:after {
        content: '';
        width: 60px;
        flex-grow: 1;
      }

      &:after {
        border-right: 1px solid @color-second;
      }
    }
  }

  &__img-wrapper {
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    @media (min-width: @screen-xl) {
      left: auto;
      right: 0;
    }
  }

  &__image {
    display: block;
    opacity: 0.15;
    filter: grayscale(0.5);
    transition: all 0.3s;
    object-fit: cover;
    font-family: 'object-fit: cover;'; // привет, говно-IE!

    .article__footer:hover ~ a.article__img-wrapper &,
    .article__link-wrapper:hover ~ a.article__img-wrapper &,
    .article__link-wrapper:focus ~ a.article__img-wrapper &,
    a.article__img-wrapper:hover &,
    a.article__img-wrapper:focus & {
      opacity: 1;
      filter: none;
    }

    @media (max-width: (@screen-xl - 1)) {
      left: 0;
      height: 100%;
      max-height: 204px;
      min-width: 300px;
    }

    @media (min-width: @screen-xl) {
      width: 409px;
      height: 271px;
    }

    @media (min-width: @screen-xxl) {
      width: 523px;
      height: 335px;
    }
  }

  &__title {
    font-family: @font-family;
    font-weight: 400;
    color: @gray-darkest;
    margin: 0;
    padding: 0;

    @media (max-width: (@screen-xl - 1)) {
      font-size: 25px;
      line-height: 1.2;
      padding: 20px 0 20px 4px;
    }

    @media (min-width: @screen-xl) {
      padding-top: 10px;
      padding-bottom: 26px;
      margin-bottom: 25px;
      margin-right: 220px;
      font-weight: 300;
      border-bottom: 1px solid @gray-lighter;
    }

    @media (min-width: @screen-xxl) {
      font-size: 30px;
      padding-bottom: 36px;
      margin-bottom: 40px;
    }
  }

  &__lead {
    color: @gray;

    @media (max-width: (@screen-xl - 1)) {
      padding-top: 10px;
      padding-bottom: 13px;
    }

    @media (min-width: @screen-xl) {
      padding-bottom: 25px;
      margin-right: 220px;
    }

    @media (min-width: @screen-xxl) {
      font-size: 18px;
      padding-bottom: 35px;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    font-weight: 400;

    @media (max-width: (@screen-xl - 1)) {
      padding-top: 10px;
      padding-bottom: 13px;
    }

    @media (min-width: @screen-xl) {
      // padding-bottom: 25px;
      margin-right: 220px;
    }

    @media (min-width: @screen-xxl) {
      font-size: 18px;
      // padding-bottom: 35px;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    display: inline-block;
    position: relative;
    z-index: 1;

    &--info {

      @media (min-width: @screen-xl) {
        padding-top: 25px;
      }

      @media (min-width: @screen-xxl) {
      padding-top: 40px;}
    }
  }

    &__date {
      display: inline-block;
      color: @gray-light;
      font-size: 16px;
      margin-right: 25px;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: -1px;
        width: 24px;
        height: 18px;
        margin-right: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/article/icons/calendar.svg');
      }
    }

    &__tags {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;
      font-family: @font-family--cond;
      font-size: 16px;
      font-weight: 400;

      li {
        display: inline;
        margin-right: 20px;
      }

      a {
        white-space: nowrap;
        color: @gray-light;
        text-decoration: none;
        border-bottom: 1px dashed currentColor;
        transition: all 0.3s;

        &:hover,
        &:focus {
          color: @color-main;
          text-decoration: none;
          border-color: transparent;
        }
      }
    }




  &--to-right {

    @media (min-width: @screen-xl) {
      transform: translateX(100px);
    }

    @media (min-width: @screen-xxl) {
      transform: translateX(257px);
    }
  }

  &--no-title {

    @media (max-width: (@screen-xl - 1)) {
      margin-bottom: 0;

      .article__img-wrapper {
        left: auto;
        right: 0;
        top: -10px;
      }
    }

    @media (min-width: @screen-xl) {
      padding-top: 25px;
      margin-bottom: 40px;
    }

    @media (min-width: @screen-xxl) {
      margin-bottom: 70px;
    }
  }

  &--image-left {

    @media (min-width: @screen-xl) {
      width: 1020px;
      min-height: 221px;
      padding-left: 300px;

      .article__img-wrapper {
        left: 0;
        top: 52%;
        transform: translateY(-50%);

        img {
          height: auto;
        }
      }

      .article__title {
        display: inline-block;
        padding-bottom: 10px;
      }

      .article__footer {
        z-index: 3;

        .btn + .btn {
          margin-left: 20px;
        }
      }
    }

    @media (min-width: @screen-xxl) {
      width: 1370px;
      padding-left: 470px;

      .article__img-wrapper {

        img {
          width: 646px;
          height: auto;
        }
      }

      .article__title {}
    }
  }

  &--simple {

    @media (max-width: (@screen-xl - 1)) {
      margin-bottom: 20px;

      .article__header {
        min-height: 0;
      }
    }

    @media (min-width: @screen-xl) {
      min-height: 0;
    }

    @media (min-width: @screen-xxl) {
      min-height: 0;

      &.article--to-right {
        transform: translateX(438px);
      }
    }
  }
}
