// Для импорта в диспетчер подключений: @import './src/blocks/field-text/field-text.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.field-text {
  display: block;
  margin-bottom: 28px;

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 0 20px;
    line-height: @line-height;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid @color-main;
    transition: all 0.3s;
    appearance: textfield;

    &:focus {
      outline: 0;
      border-color: @color-second;
    }

    &::placeholder {
      color: @gray-light;
      opacity: 1;
    }

    textarea& {
      height: auto;
      min-height: 130px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 20px 0;
      border: 1px solid @color-main;
      resize: none;
    }

    &--icon-user {
      background: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/field-text/icons/user.svg') 100% 50% no-repeat;
      background-size: 14px 14px;
    }

    &--icon-phone {
      background: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/field-text/icons/voice.svg') 100% 50% no-repeat;
      background-size: 14px 14px;
    }

    &--icon-pencil {
      background: data-uri('image/svg+xml;charset=UTF-8', './src/blocks/field-text/icons/pencil.svg') 100% 50% no-repeat;
      background-size: 14px 14px;
    }
  }

  &--mb0 {
    margin-bottom: 0;
  }

  &--xl-mb0 {

    @media (min-width: @screen-xl) {
      margin-bottom: 0;
    }

    @media (min-width: @screen-xxl) {
      margin-bottom: 28px;
    }
  }

  &--xl-mb10 {

    @media (min-width: @screen-xl) {
      margin-bottom: 10px;
    }

    @media (min-width: @screen-xxl) {
      margin-bottom: 28px;
    }
  }
}
