// Для импорта в диспетчер подключений: @import './src/blocks/collapsing-list/collapsing-list.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.collapsing-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: (@screen-xl - 1)) {
    border-top: 1px solid @gray-lighter;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 55px;
  }

  &__item {

    @media (max-width: (@screen-xl - 1)) {
      border-bottom: 1px solid @gray-lighter;
      padding-left: 10px;
      padding-right: 10px;
    }

    &--show-content {

      @media (max-width: (@screen-xl - 1)) {

        .collapsing-list__content {
          max-height: 200vh;
          transition: all 0.9s;
        }

        .collapsing-list__name:before {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__name {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 64px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 48px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      width: 12px;
      height: 12px;
      border-top: 2px solid @color-second;
      border-right: 2px solid @color-second;
      transform: translateY(-50%) rotate(135deg);
      transition: all 0.2s;
    }

    @media (min-width: @screen-xl) {
      // display: none;
    }
  }

  &__name-icon {
    margin-left: 5px;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 13px;
    }
  }

  &__content {

    b {
      font-weight: 700;
    }

    .btn {
      margin-top: 10px;
    }

    & > *:last-child {
      margin-bottom: 54px;
    }

    @media (max-width: (@screen-xl - 1)) {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s;
    }

    @media (min-width: @screen-xl) {
      display: block;
    }
  }

  &__btn-video {
    display: none;
  }

  &__video {
    display: none;
  }
}
