// Для импорта в диспетчер подключений: @import './src/blocks/collapsing-list/collapsing-list.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.collapsing-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: (@screen-xl - 1)) {
    border-top: 1px solid @gray-lighter;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 55px;
  }

  @media (min-width: @screen-xl) {
    position: relative;
    background-color: @color-main;
    padding: 20px 20px 20px 10px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      left: 0;
      height: 100vh;
      background-color: @color-main;
    }
  }

  &__item {

    @media (max-width: (@screen-xl - 1)) {
      border-bottom: 1px solid @gray-lighter;
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (min-width: @screen-xl) {
      margin-bottom: 10px;
    }

    &--show-content {

      @media (max-width: (@screen-xl - 1)) {

        .collapsing-list__content {
          max-height: 200vh;
          transition: all 0.9s;
        }

        .collapsing-list__name:before {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    &--show-1200 {

      @media (min-width: @screen-xl) {

        .collapsing-list__name {
          color: #fff;

          &:before {
            transform: scale3D(1, 1, 1);
          }
        }

        .collapsing-list__content {
          width: 577px;
          height: auto;
          opacity: 1;
          padding: 0 0 0 70px;
        }
      }
    }
  }

  &__name {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;

    @media (max-width: (@screen-xl - 1)) {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 64px;
      padding-right: 48px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        width: 12px;
        height: 12px;
        border-top: 2px solid @color-second;
        border-right: 2px solid @color-second;
        transform: translateY(-50%) rotate(135deg);
        transition: all 0.2s;
      }
    }

    @media (min-width: @screen-xl) {
      position: relative;
      color: @gray-light;
      text-align: right;

      &:before {
        content: '';
        position: absolute;
        top: 62%;
        right: -70px;
        width: 60px;
        height: 1px;
        background-color: @color-second;
        transform-origin: left center;
        transform: scale3d(0, 1, 1);
        transition: all 0.2s;
      }

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  &__name-icon {
    margin-left: 5px;

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 13px;
    }
  }

  &__name-text {

    @media (min-width: @screen-xl) {
      display: block;
      text-transform: none;
      max-height: 20px;
      overflow: hidden;
    }
  }

  &__content {

    b {
      font-weight: 700;
    }

    .btn {
      margin-top: 10px;
    }

    & > *:last-child {
      margin-bottom: 54px;
    }

    @media (max-width: (@screen-xl - 1)) {
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s;
    }

    @media (min-width: @screen-xl) {
      max-height: none;
      transition: opacity 0.3s;
      width: 0;
      height: 0;
      position: absolute;
      top: 7px;
      left: 221px;
      overflow: hidden;
      opacity: 0;
    }
  }

  &__btn-video {
    display: none;
  }

  &__video {
    display: none;
  }
}
