// Для импорта в диспетчер подключений: @import './src/blocks/main-header/main-header.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-header {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-family: @font-family;
  font-weight: 400;

  @media (max-width: (@screen-xl - 1)) {
    padding: 30px 10px 48px 30px;
  }

  @media (min-width: @screen-xl) {
    font-size: 50px;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-right: 0.514em;

    &:before {
      content: '';
      position: absolute;
      left: 2px;
      right: 0;
      bottom: 1px;
      height: 2px;
      background-color: @color-second;

      @media (min-width: @screen-xl) {
        height: 3px;
      }
    }
  }
}
