// Для импорта в диспетчер подключений: @import './src/blocks/discuss-project-btn/discuss-project-btn.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.discuss-project-btn {
  position: absolute;
  top: 37px;
  left: e('calc(50% + 444px)');
  font-size: 16px;
  min-width: 100px;
  padding: 0 14px 0 9px;

  .main-nav--home & {
    transform: translateX(50vw);
  }

  .loaded .main-nav--home & {
    animation: translate-none 0.2s 0.8s forwards;
  }

  @media (max-width: (@screen-xl - 1)) {
    display: none;
  }

  @media (min-width: @screen-xxl) {
    left: e('calc(50% + 596px)');
    padding-left: 21px;
    padding-right: 37px;
  }
}
